.bg-custom {
    background-image: linear-gradient(90deg, #090d1f 0%, #18418d 100%);
    box-shadow: 0 0 15px 0 #18418d;
    padding: 15px 40px;
}

.bg-custom a {
    display: flex;
    align-items: center;
}

* {
    text-decoration: none !important;
}

@media screen and (min-width: 1200px){
    .custom-align{
        width: 1140px;
        margin: 0 auto;
    }
}